TZ=America/New_York
OLLAMA_KEEP_ALIVE=0
NVIDIA_DRIVER_CAPABILITIES=all # comment out if you aren't using NVIDIA GPUs
NVIDIA_VISIBLE_DEVICES=GPU-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx # set to your GPU ID (use 'all' for all GPUs)
OLLAMA_HOST=0.0.0.0:11434
OLLAMA_MODELS=ollama-models
