TZ=America/Chicago
PUID=99
PGID=100
UMASK=022
# Run `openssl rand -base64 32` then prefix with `base64:` to generate APP_KEY
APP_KEY=base64:changeme=
APP_URL=http://192.168.9.7:8010
DB_CONNECTION=sqlite
SPEEDTEST_SCHEDULE=*/3 * * * *
SPEEDTEST_SERVERS=38364,22288,69553,1272,26652,72163,56809 # comma-separated Ookla server IDs (empty = auto-select)
SPEEDTEST_PRUNE_RESULTS_OLDER_THAN=0 # days to retain (0 = keep all)
