TZ=America/New_York
PAPERLESS_REDIS=redis://paperless-redis:6379
PAPERLESS_DBHOST=paperless-postgres
PAPERLESS_DBNAME=paperless # if you change this, be sure to also change it in the postgres .env
PAPERLESS_DBUSER=paperless # if you change this, be sure to also change it in the postgres .env
PAPERLESS_DBPASS=paperless # if you change this, be sure to also change it in the postgres .env (You should change this for production use)
PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://paperless-gotenberg:3000
PAPERLESS_TIKA_ENDPOINT=http://paperless-tika:9998
