TZ=America/Chicago
PUID=99
PGID=100
UMASK=000
CLAIM_SERVER=no
PLEX_CLAIM=
TRANS_DIR=/transcode_directory
# Run: nvidia-smi --query-gpu=uuid --format=csv,noheader
NVIDIA_VISIBLE_DEVICES=GPU-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
NVIDIA_DRIVER_CAPABILITIES=all
